*,
*:before,
*:after {
    box-sizing: inherit
}

input.devsite-search-field {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #212121;
    font: 16px/20px Roboto, sans-serif;
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: 7px;
    transition: border-color .2s;
    vertical-align: middle
}

.devsite-search-form {
    display: flex;
    background: #f7f7f7;
    border-radius: 2px;
    /*display: inline-block;*/
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 36px;
    margin: 6px 0 6px 24px;
    opacity: 1;
    position: relative;
    text-align: left;
    transition: background .2s, flex .2s, opacity .2s, width .2s;
    transition: background .2s, flex .2s, opacity .2s, width .2s, -ms-flex .2s;
    vertical-align: top;
    width: 200px;
}

.devsite-searchbox {
    position: relative;
    width: 100%;
}

.devsite-search-form:hover {
    background: #ebebeb;
}

.devsite-search-form.hide-this-form {
    opacity: 0;
    pointer-events: none;
    width: 0;
}

.devsite-search-active.devsite-search-form {
    -ms-flex: 1 0 auto;
    flex: 100 0 auto
}

.devsite-search-active.devsite-search-form {
    background: #f7f7f7
}

.devsite-search-image {
    color: #757575;
    /*left: 24px;*/
    margin-left: 24px;
    position: absolute;
    top: 6px;
    transition: color .2s
}

.devsite-search-image::before {
    content: 'search'
}

.devsite-search-active .devsite-search-image {
    color: #757575
}

input.devsite-search-field {
    background: 0;
    border: 0;
    color: #757575;
    height: 36px;
    padding: 8px 8px 8px 72px;
    transition: color .2s;
    width: 100%
}

.devsite-search-active .devsite-search-field {
    color: #212121
}

input.devsite-search-field:focus {
    border: 0;
    padding-bottom: 8px
}

.devsite-search-form::-webkit-input-placeholder {
    color: #757575;
    transition: color .2s
}

.devsite-search-form:-moz-placeholder {
    color: #757575;
    transition: color .2s
}

.devsite-search-form::-moz-placeholder {
    color: #757575;
    transition: color .2s
}

.devsite-search-form:-ms-input-placeholder {
    color: #757575;
    transition: color .2s
}

.devsite-search-active.devsite-search-form::-webkit-input-placeholder {
    color: #757575
}

.devsite-search-active.devsite-search-form:-moz-placeholder {
    color: #757575
}

.devsite-search-active.devsite-search-form::-moz-placeholder {
    color: #757575
}

.devsite-search-active.devsite-search-form:-ms-input-placeholder {
    color: #757575
}

.devsite-search-button {
    margin: 12px 0
}

.devsite-search-button::before {
    content: 'search'
}

.devsite-responsive-search-open .devsite-search-button {
    margin: 12px 0 12px 16px
}

.devsite-responsive-search-open .devsite-search-button::before {
    content: 'cancel'
}

@media screen and (max-width:720px) {
    .devsite-search-button {
        display: inline-block
    }
    .devsite-responsive-search-open .devsite-search-form {
        display: inline-block;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: 6px 0
    }
    .devsite-responsive-search-open .devsite-header-upper-tabs,
    .devsite-responsive-search-open .devsite-product-name-wrapper,
    .devsite-responsive-search-open .devsite-settings-menu-wrapper,
    .devsite-responsive-search-open .devsite-user-avatar,
    .devsite-responsive-search-open .devsite-user-signin,
    .devsite-search-form {
        display: none
    }
}

.devsite-search-project {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 39px;
    margin-bottom: 40px
}

.devsite-projectless-search-link,
.devsite-search-term {
    font-weight: bold
}

.devsite-page-title .devsite-search-term {
    color: #212121;
    font-weight: 500
}

aside+.devsite-search-results,
.devsite-search-results-restricted aside {
    margin-top: 40px
}

.devsite-search-results-heading {
    line-height: 24px;
    margin: 40px 0 0
}

.devsite-search-results-path {
    color: #0d904f;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.devsite-search-results-path,
.devsite-search-results-content {
    margin: 0
}

.devsite-search-loading-restricted {
    border-top: 1px solid #ebebeb;
    margin-top: 40px;
    padding-top: 19px;
    text-align: center
}

.devsite-search-results table {
    border-collapse: inherit;
    margin: 0
}

.devsite-search-results tr {
    background: #fff;
    border: 0
}

.devsite-search-results td {
    padding: 0
}

.devsite-search-results {
    margin: -8px
}

aside+.devsite-search-results {
    margin: 0 -8px
}

.devsite-search-results .gsc-control-cse,
.devsite-search-results .gsc-control-cse .gsc-table-result {
    font: 400 16px/24px Roboto, sans-serif
}

.devsite-search-results .gsc-above-wrapper-area {
    display: none
}

.devsite-search-results .gsc-control-cse {
    background: 0;
    border: 0;
    padding: 0
}

.devsite-search-results .gsc-webResult.gsc-result,
.devsite-search-results .gsc-webResult.gsc-result:hover,
.devsite-search-results .gsc-results .gsc-imageResult {
    background: 0;
    border: 0
}

.devsite-search-results .gsc-control-cse .gs-webResult.gs-result a.gs-title:visited,
.devsite-search-results .gsc-control-cse .gs-webResult.gs-result a.gs-title:visited b,
.devsite-search-results .gsc-control-cse .gs-imageResult a.gs-title:visited,
.devsite-search-results .gsc-control-cse .gs-imageResult a.gs-title:visited b,
.devsite-search-results .gsc-control-cse .gs-result .gs-title,
.devsite-search-results .gsc-control-cse .gs-result .gs-title * {
    color: #039be5;
    font: 400 18px/32px Roboto, sans-serif;
    height: auto;
    text-decoration: none
}

.devsite-search-results .gsc-control-cse .gs-webResult.gs-result a.gs-title:focus,
.devsite-search-results .gsc-control-cse .gs-imageResult a.gs-title:focus,
.devsite-search-results .gsc-control-cse .gs-result .gs-title:focus {
    text-decoration: underline
}

.devsite-search-results .gsc-control-cse .gs-result .gs-title b {
    font-weight: bold
}

.devsite-search-results .gs-webResult div.gs-visibleUrl,
.devsite-search-results .gs-imageResult div.gs-visibleUrl {
    color: #0d904f;
    font-size: 14px
}

.devsite-search-results .gs-no-results-result .gs-snippet,
.devsite-search-results .gs-error-result .gs-snippet {
    background: 0;
    border: 0;
    color: #212121
}

.devsite-search-results .gcsc-branding {
    display: none
}
